<h1>Welcome to your Salon!</h1>

<ul class="home">
  <li><a href="/clients" class ="btn btn-primary" role = "button">View all clients</a></li>
  <li><a href="/stylists" class ="btn btn-primary" role = "button">View all stylists</a></li>
</ul>
